

body {
    background-color: #f9eccc;
     }
     
    .header {
    text-align: left;
    background-image: url(header.png);
    height: 150px;
    }
    
    .links {
    padding: 10px;
    font-family: Courier New;
    margin: 5px;
     }
    
    .socials {
    text-align: left;
    font-family: Courier New;
    margin: 5px;
    padding: 5px;
    font-size: .8em;
    }
    a {
    color: #000000;
    }
    
    a:hover {
    color: gray;
    }
    
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 5px;
    }
     
    .about {
    font-family: Courier New;
    font-size: .7em;
    inline-size: 200px;
    overflow-wrap: break-word;
    margin: 5px;
    padding: 5px;
    }
    
     .gifs {
    font-family: Courier New;
    font-size: .7em;
    inline-size: 200px;
    overflow-wrap: break-word;
    margin: 5px;
    padding: 5px;
     }
     
    .pagecount {
    font-family: Courier New;
    inline-size: 200px;
    overflow-wrap: break-word;
    text-align: center;
    margin: 5px;
    padding: 5px;
    }
     
    .slots {
    font-family: Courier New;
    margin: 5px;
    padding: 5px;
    text-align: center;
     }
     
    .comm {
     font-family: Courier New;
     margin: 5px;
    padding: 10px;
     overflow-wrap: break-word;
     }
     
    .sidebar {
     margin: 15px;
     padding: 15px;
     width: auto;
     height: auto; 
     text-align: right;
     font-family: Courier New;
     overflow-wrap: break-word;
     }
